:host {
    display: flex;

    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }

    align-items: center;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 5px 15px;
    transition: transform 0.2s ease-in-out;
}

.donut-card {

    &-icon {
        width: 50px;
        margin-right: 10px;
    }

    &-name {
        font-size: 16px;
    }

    &-label {
        border: 1px solid #c14583;
        border-radius: 4px;
        padding: 0 4px;
        margin-left: 5px;
        font-size: 12px;
        color: #c14583;

        &.limited {
            z-index: 222;
            // just for reference
        }

        &.new {
            z-index: 111;
            // just for reference
        }
    }

    &-price {
        font-size: 14px;
        color: #c14583;
    }
}