.app {
    background: #fff;
    border-radius: 8px;
    max-width: 400px;
    width: 94%;
    margin: 25px auto;
    padding: 25px;
    border: 4px solid #ef9fc7;
    header{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        img{
            width: 100px;
            height: 88px;
        }
    }
}
